#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/* Background Color */
body {
    background-color: lightblue;
}

/* Button Design */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }